/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Font Face */

@font-face {
    font-family:"bonvenocflight";
    src: url("../fonts/BonvenoCF-Light-webfont.eot");
    src: url("../fonts/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/BonvenoCF-Light-webfont.woff") format("woff"),
         url("../fonts/BonvenoCF-Light-webfont.ttf") format("truetype"),
         url("../fonts/BonvenoCF-Light-webfont.svg#bonvenocflight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "droid_serifitalic";
    src: url("../fonts/DroidSerif-Italic-webfont.eot");
    src: url("../fonts/DroidSerif-Italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/DroidSerif-Italic-webfont.woff") format("woff"),
         url("../fonts/DroidSerif-Italic-webfont.ttf") format("truetype"),
         url("../fonts/DroidSerif-Italic-webfont.svg#droid_serifitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Globals */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin-top: 5.7em;
}

p {
    font-size: 90%;
    line-height: 1.5;

}

section {
    padding: 2em;
}

section h3 {
    margin: 0;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    font-family: "bonvenocflight", sans-serif;
    text-transform: uppercase;
    letter-spacing: .3rem;
    line-height: 1.3;
    margin: .75em 0;
}

.button {
    color: #2BAFDF;
    border: 1.5px solid #2BAFDF;
    font-family: "bonvenocflight", sans-serif;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    text-decoration: none;
    font-weight: bolder;
    padding: 1em 1.5em;
}

.button:hover {
    background-image: url(../img/gradient.png);
    background-repeat: none;
    background-size: 100%;
    color: #fff;
    border: none;
}

/* Header */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 1px 1px 15px #3D3D3B;
    width: 100%;
    z-index: 100;
    padding-left: 200px;
}

.main-header img {
    position: absolute;
    top: .5em;
    left: .75em;
    width: 160px;
    z-index: 150;
}

.main-header h1 {
    font-size: 1.5rem;
    padding: .5em 0;
    color: #9F9F9F;
}

.main-header .button {
    position: absolute;
    top: 2em;
    right: 2em;
}

/* Main Nav */

.main-nav {
    width: 100%;
    padding-left: 148px;
    background-color: #3D3D3B;
}

.main-nav ul {
    margin: 0;
}

.main-nav li {
    font-size: 90%;
    letter-spacing: .025em;
    font-weight: lighter;
    color: #E2E1E8;
    display: inline-block;
    padding: .75em 1em;
}

.main-nav li a {
    text-decoration: none;
}

.main-nav li:hover {
    color: #2BAFDF;
}

/* Main Image */

.jumbotron {
    max-height: 25em;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 0;
}

.guest-quote {
    position: absolute;
    top: 15%;
    background-color: hsla(0,0%,0%,0.4);
    width: 45%;
    font-family: "droid_serifitalic", serif;
    line-height: 1.6rem;
    color: #fff;
    font-weight: lighter;
    letter-spacing: .1em;
    padding: 1em 2em 1em 4em;
    margin: 0;
    text-shadow: 1px 1px 4px black;
}

.guest-quote h2 {
    font-size: 1.25rem;
    color: #2BAFDF;
}

.guest-quote p {
    color: #9F9F9F;
    size: 90%;
}

.guest {

}

/* Family Resort Section */

.paragraph-right {
    background-color: #EAEAEA;
    overflow: auto;
}

.paragraph-right-content {
    width: 50%;
    margin-left: 3em;
    float: left;
}

.paragraph-right img {
    width: 40%;
    float: left;
}

.paragraph-right p {
    margin-bottom: 2em;
}

/* Cabins */

.grid {
    overflow: auto;
}

.cabin {
    width: 30%;
    float: left;
    margin: 1.5em 1.5em 0 0;
    position: relative;
}

.cabin_image {
    position: relative;
    z-index: -10;  
}

.cabin h4 {
    color: #fff;
    text-align: center;
    font-weight: bolder;
    margin-top: 1em;
    font-size: 2vw;
}

.cabin .icon {
    width: 30%;
}

.cabin-name-icon {
    position: absolute;
    font-size: 120%;
    visibility: hidden;
    width: 100%;
}

.cabin:hover {
    background-color: hsla(0,0%,0%,0.5);
}

.cabin:hover .cabin-name-icon {
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    max-width: 85%;
}

.rate {
    background-image: url(../img/gradient.png);
    background-size: 100%;
    background-repeat: none;
    color: #fff;
    padding: .25em .75em;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 1rem;
    letter-spacing: .1em;
}

/* Location */

.paragraph-left {
    clear: both;
    background-color: #EAEAEA;
    overflow: auto;
}

.paragraph-left-content {
    width: 50%;
    margin-right: 3em;
    float: left;
}

.paragraph-left p {
    margin-bottom: 2em;
}

.gmap {
    margin-top: 2em;
    float: left;
}

/* Review */

.js {
    position: relative;
}

.review-button {
    position: absolute;
    top: 1em;
    right: 2em;
    color: #fff;
    background-image: url(../img/gradient.png);
    background-repeat: none;
    background-size: 100%;
    font-family: "bonvenocflight", sans-serif;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    text-decoration: none;
    font-weight: bolder;
    padding: 1em 1.5em;
    cursor: pointer;
}

.review-wrapper {
    display: none;
}

/* Reviews Form Open */

.form-open .review-button {
    display: none;
}

.form-open .review-wrapper {
    display: inline;
}

.form-open .close-icon {
    color: #2BAFDF;
    font-style: normal;
    font-size: 200%;
    position: absolute;
    top: 0.7em;
    right: 1em;
    cursor: pointer;
}

.form-open h4 {
    margin-top: 2em;
    color: #2BAFDF;
}

.form-open form {
    margin-top: 2em;
}

.form-open .review-button {
    display: none;
}

.form-open p {
    font-size: 85%;
    letter-spacing: .025em;
    color: #3D3D3B;
}

.form-open input[type="radio"] {
    margin-left: 1em;
}

/* Footer */

.main-footer {
    background-color: #3D3D3B;
}

.main-footer p {
    color: #E2E1E8;
    font-family: "bonvenocflight", sans-serif;
    padding: 1em;
    font-weight: bolder;
    text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
